[submodule "third_party/pytorch/xla"]
	path = third_party/pytorch/xla
	url = https://github.com/pytorch/xla.git
[submodule "third_party/pytorch"]
	path = third_party/pytorch
	url = https://github.com/pytorch/pytorch.git
[submodule "third_party/vision"]
	path = third_party/vision
	url = https://github.com/pytorch/torchvision.git
